@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
    --cor-principal: #6E859F;
    --cor-secundaria: #284260;
    --cor-destaque: #C92BFC;
}

body {
    font-family: 'Chakra Petch', sans-serif;
}

h1, h2, h5 {
    color: var(--cor-secundaria);
    font-weight: 700;
}

footer a {
    color: var(--cor-principal)
}

footer a:hover {
    color: var(--cor-destaque);
}

.card {
    position: relative;
    width: 300px;
    height: 200px;
    background: linear-gradient(-45deg, #000000 0%, #ff0000 100% );
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover {
    transform: rotate(-5deg) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    opacity: 0;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card:hover .card__content {
    transform: translate(-50%, -50%) rotate(0deg);
    opacity: 1;
  }
  
  .card__title {
    margin: 0;
    font-size: 24px;
    color: #333;
    font-weight: 700;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 14px;
    color: #777;
    line-height: 1.4;
  }
  
  .card:hover svg {
    scale: 0;
    transform: rotate(-45deg);
  }
  body{
    background-image: url(ffff.jpg);
     background-repeat: no-repeat;
     background-size: auto;
     background-position: center;
  }

  
  h1{
    color: #f44336;

  }

  button {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  button::before {
    margin-left: auto;
  }
  
  button::after, button::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }

  
  
  button:hover::after, button:hover::before {
    width: 100%;
  }
  p{
    color: #fff;
  }
  h2{
    color: #f44336;
  }
    h3{
        color: #ff1100;
    }
    .rating {
        display: block;
        margin-right: auto;
        margin-left: auto;
        flex-direction: row-reverse;
        gap: 0.3rem;
        --stroke: #666;
        --fill: #ffc73a;
      }
      
      .rating input {
        appearance: unset;
      }
      
      .rating label {
        cursor: pointer;
      }
      
      .rating svg {
        width: 2rem;
        height: 2rem;
        overflow: visible;
        fill: transparent;
        stroke: var(--stroke);
        stroke-linejoin: bevel;
        stroke-dasharray: 12;
        animation: idle 4s linear infinite;
        transition: stroke 0.2s, fill 0.5s;
      }
      
      @keyframes idle {
        from {
          stroke-dashoffset: 24;
        }
      }
      
      .rating label:hover svg {
        stroke: var(--fill);
      }
      
      .rating input:checked ~ label svg {
        transition: 0s;
        animation: idle 4s linear infinite, yippee 0.75s backwards;
        fill: var(--fill);
        stroke: var(--fill);
        stroke-opacity: 0;
        stroke-dasharray: 0;
        stroke-linejoin: miter;
        stroke-width: 8px;
      }
      
      @keyframes yippee {
        0% {
          transform: scale(1);
          fill: var(--fill);
          fill-opacity: 0;
          stroke-opacity: 1;
          stroke: var(--stroke);
          stroke-dasharray: 10;
          stroke-width: 1px;
          stroke-linejoin: bevel;
        }
      
        30% {
          transform: scale(0);
          fill: var(--fill);
          fill-opacity: 0;
          stroke-opacity: 1;
          stroke: var(--stroke);
          stroke-dasharray: 10;
          stroke-width: 1px;
          stroke-linejoin: bevel;
        }
      
        30.1% {
          stroke: var(--fill);
          stroke-dasharray: 0;
          stroke-linejoin: miter;
          stroke-width: 8px;
        }
      
        60% {
          transform: scale(1.2);
          fill: var(--fill);
        }
      }
      